* {
    margin: 0px;
    padding: 0px;
}
    .wrapper {
        width: 970px;
        margin: 0px auto;
        margin-top: 50px;
    }
        form {
            border: 1px black solid;
            width: 400px;
            margin: 0px auto;
            padding: 15px;
        }
            form label {
                width: 150px;
                display: inline-block;
                margin-bottom: 10px; 
            }
            form select {
                width: 130px;
            }
    h1 {
        background-color: green;
        border: 1px solid black;
        color: white;
        font-size: 14pt;
        padding: 10px;
        width: 380px;
        margin: 0px auto;
        margin-bottom: 15px;
    }
        #results_div {
            width: 400px;
            margin: 0px auto;
        }
            h2 {
                margin-bottom: 10px;
            }
            #results_div form{
                margin: 0px;
                padding: 0px;
                border: none;
            }
                p {
                    margin-bottom: 10px;
                }
                span {
                    width: 175px;
                    display: inline-block;
                    vertical-align: top;
                }
                .user_info {
                    font-weight: bold;
                }