<h1>My Notes</h1>
<div id="placeholder"></div>

<p id="error"></p>
<form id="noteForm" action="/create" method="post">
    <input style="display: block; margin-top: 10px;" type="text" name="NoteTitle" placeholder="Enter note title here...">
    <textarea style="display: block; margin: 5px 0px;" name="NoteContent" id="" cols="40" rows="6" placeholder="Enter note content here..."></textarea>
    <input type="submit" value="Add Note">
</form>
