<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/styles.css">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img src="~/img/logo.png" alt="Name Logo" width=100 height=75>
            <div class="nav_bar">
                <a class="nav_links" href="/">Home</a>
                <a class="nav_links" href="/projects">Projects</a>
                <a class="nav_links" href="/contact">Contact</a>
            </div>
        </header>
        <div class="main_divs">
            <h1>Damian Korzeniewski</h1>
            <img src="~/img/damian.jpg" alt="Picture of Damian" id="profile_pic" width=150 height=150>
            <div id="social_media_div">
                <img src="~/img/github.png" alt="GitHub Logo" width=25 height=25>
                <a href="https://github.com/damiankorz">github/damiankorz</a>
                <img src="~/img/linkedin.png" alt="LinkedIn Logo" width=25 height=25>
                <a href="https://www.linkedin.com/in/dkorzeniewski/">linkedin/dkorzeniewski</a>
            </div>
        </div>
        <div class="main_divs">
            <h2>About Me</h2>
            <p>Up and coming self-sufficient developer with a passion for video-game development. Currently building a solid foundation of full-stack development as a student of Coding Dojo. </p>
            <div class="tech_skills">
                <h3>Languages</h3>
                <ul>
                    <li>HTML5</li>
                    <li>JavaScript</li>
                    <li>CSS</li>
                    <li>Python</li>
                    <li>C#</li>
                </ul>
            </div>
            <div class="tech_skills">
                <h3>Frameworks</h3>
                <ul>
                    <li>Django</li>
                    <li>ASP.Net Core</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>