<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/styles.css">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
    <title>Projects</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img src="~/img/logo.png" alt="Name Logo" width=100 height=75>
            <div class="nav_bar">
                <a class="nav_links" href="/">Home</a>
                <a class="nav_links" href="/projects">Projects</a>
                <a class="nav_links" href="/contact">Contact</a>
            </div>
        </header>
        <div class="main_divs">
            <h2>Haven</h2>
            <p>Haven is a basic social media platform for the video gaming community. The application uses Python's Django framework to allow social interaction between users. Users are able to register for an account and create posts. Users also have the option of commenting on other users' posts.</p>
            <img src="~/img/haven.png" alt="Image of Haven Website" height=400 width=100%>
            <a class="project_links" href="https://github.com/damiankorz/haven/tree/master/haven">Click to view source code on GitHub.</a>
        </div>
        <div class="main_divs">
            <h2>Terminal Star Wars</h2>
            <p>Terminal Star Wars is a basic role-playing-game (RPG) for the console terminal built and written in C#. You (the user) will control three Jedi of various skill and rank (Jedi Apprentice, Jedi Knight, Jedi Master). Your mission is to eliminate three computer controled troopers of various skill and rank (Scout Trooper, Heavy Trooper, Shadow Trooper). The game will begin by having the user name the three jedis. The teams and stats will be displayed and the game will randomly generate the player order. The user will be prompted to select specific actions to perform for each jedi he/she controls. The game ends once all players on one side have been eliminated.</p>
            <img src="~/img/terminalstarwars.png" alt="Image of Terminal Star Wars" height=400 width=100%>
            <a class="project_links" href="https://github.com/damiankorz/assignments/tree/master/netcore/TerminalStarWars">Click to view source code on GitHub</a>
        </div>
        <div class="main_divs">
            <h2>Placeholder for 3rd Project</h2>
            <p>Placeholder for 3rd project's description</p>
            <!-- <img src="~/img/" alt="Image of" height=400 width=100%> -->
            <a class="project_links" href="">Click to view source code on GitHub</a>
        </div>
    </div>
</body>
</html>