<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Document</title>
    </head>
    <body>
        <div id="wrapper">
            <h1>Friends:</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Friends Since</th>
                    </tr>
                </thead>
                <tbody>
                    {% for friend in all_friends %}
                        <tr>
                            <td>{{ friend['name'] }}</td>
                            <td>{{ friend['age'] }}</td>
                            <td>{{ friend['created_at'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h1>Add a Friend:</h1>
            <form action="/friends" method="post">
                <label for="name">Name:</label>
                <input type="text" id="full_name" name="name">
                <label for="age">Age:</label>
                <input type="text" id="age" name="age">
                <input type="submit" id="submit" name="submit" value="Click to Add">
            </form>
        </div>
    </body>
</html>