* {
    margin: 0px;
    padding: 0px;
}
    #wrapper {
        margin: 0px auto;
        width: 970px;
    }
        h1 {
            text-align: center;
            padding-top: 25px;
        }
        p {
            text-align: center;
        }
        form {
            width: 370px;
            margin: 0px auto;
            margin-top: 50px;
        }
            label {
                display: inline-block;
                width: 230px;
                margin-bottom: 10px;
            }
            #submit {
                display: block;
                margin-top: 15px;
                margin-left: 305px;
            }
            