<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/css/styles.css' %}">
</head>
<body>
    <div id="wrapper2">
        <h1>Thank you for your business!</h1>
        <h2>We charged your credit card <span>${{ request.session.cost }}</span></h2>
        <h2>You have ordered <span>{{ request.session.quantity }}</span> items so far and 
            spent <span>${{request.session.total_cost}}</span> with Amadon.com!</h2>
        <a href="/amadon">Go back</a>
    </div>
</body>
</html>