* {
    margin: 0px;
    padding: 0px;
}
    #wrapper {
        width: 970px;
        margin: 0px auto;
    }
        p {
            padding: 25px;
            margin-left: 23px;
        }
            p span {
                border: 2px solid black;
                padding: 0px 15px;
                box-shadow: 5px 5px 5px grey;
            }
        img {
            margin: 0px 0px 10px 54px;
        }
        .places {
            display: inline-block;
            border: 2px solid black;
            width: 175px;
            height: 175px;
            margin: 0px 0px 25px 48px;
            box-shadow: 5px 5px 5px grey;
        }
            .places p {
                padding: 0px;
                padding-top: 20px;
                text-align: center;
                margin: 0px;
            }
            .bold {
                font-style: bold;
            }
                .submit {
                    margin-top: 25px;
                    margin-left: 50px;
                }
        #log {
            padding: 2px;
            margin-left: 45px;
        }
        #activities {
            overflow: scroll;
            border: 2px solid black;
            height: 175px;
            width: 868px;
            margin-left: 48px;
            box-shadow: 5px 5px 5px grey;
            padding: 5px;   
        }
            #earned {
                color: green;
                padding: 0px;
                margin: 0px;
            }
            .lost {
                color: red;
                padding: 0px;
                margin: 0px;
            }
            #reset {
                margin: 25px 0px 25px 866px;
                font-size: 24pt;
            }
            