* {
    margin: 0px;
    padding: 0px;
}
    #wrapper {
        margin: 0px auto;
        width: 970px;
        height: auto;
    }
            h1 {
                text-align: center;
                padding: 10px 0px;
            }
        img {
            display: block;
            margin: 0px auto;
            margin-bottom: 5px;
        }
