<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Survey</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'survey_app/css/styles.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <form action="/survey/process" method="post">
            {% csrf_token %}
                <label for="name">Your Name:</label>
                <input type="text" name="name">
                <label for="location">Dojo Location:</label>
                <select name="location" id="location">
                    <option value="Online">Online</option>
                    <option value="Classroom">Classroom</option>
                </select>
                <label for="language">Favorite Language:</label>
                <select name="language" id="language">
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                </select>
                <label for="comments">Comments:</label>
                <textarea name="comments" id="comments" cols="60" rows="10" placeholder="Optional"></textarea>
                <input type="submit">
            </form>
        </div>
    </body>
</html>