<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Edit</title>
    </head>
    <body>
        {% for user in all_users %}
        <h1>Edit User {{ user['id'] }}</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/users/{{ user['id'] }}/update" method="post">
            First Name:<input type="text" name="first_name" value="{{ user['first_name'] }}">
            Last Name:<input type="text" name="last_name" value="{{ user['last_name'] }}">
            Email:<input type="text" name="email" value="{{ user['email'] }}">
            <input type="hidden" name="hidden" value="{{ user['id'] }}">
            <input type="submit" value="Update">
        </form>
        {% endfor %}
        <a href="/users">Go Back</a>
    </body>
</html>