<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="wrapper" style="width: 500px; padding: 10px; text-align: center; margin: 0px auto;">
        <p>The current date and time is:</p>
        <h1 style="border: 1px solid black; padding: 10px;">@DateTime.Now</h1>
    </div>
</body>
</html>