table {
    border-collapse: collapse;
    margin: 10px 0px;
}
    th {
        padding: 5px 150px 5px 5px;
        border: 1px solid silver;
    }
    td {
        padding: 5px 0px 5px 5px;
        border-bottom: 1px solid silver;
    }
ul {
    list-style: none;
}