<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <form action="/results" method="post">
        <input type="text" name="NameField" placeholder="Name">
        <label for="dojoLocation">Dojo Location</label>
        <select name="DojoLocation">
            <option>Seattle</option>
            <option>Silicon Valley</option>
            <option>Los Angeles</option>
            <option>Chicago</option>
            <option>Dallas</option>
            <option>Tysons Corner</option>
            <option>Tulsa</option>
            <option>East Bay</option>
        </select>
        <label for="favoriteLanguage">Favorite Language</label>
        <select name="FavoriteLanguage">
            <option>HTML</option>
            <option>CSS</option>
            <option>JavaScript</option>
            <option>Python</option>
            <option>C#</option>
        </select>
        <textarea name="CommentsField" cols="20" rows="5" placeholder="Comments (optional)"></textarea>
        <input type="submit">
    </form>
</body>
</html>