<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course Deletion</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'course_tracker/css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Are you sure you want to delete the following course?</h1>
        <h2><span>Name:</span>{{ name }}</h2>
        <h2><span>Description:</span>{{ desc }}</h2>
        <form action="/" method="post" class="destroy">
        {% csrf_token %}
            <input type="submit" id="deny" value="No">
        </form>
        <form action="/courses/destroy/{{ id }}/confirm" method="post" class="destroy">
        {% csrf_token %}
            <input type="submit" id="confirm" value="Yes! I want to delete this">
        </form>
    </div>
</body>
</html>