<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Home</title>
</head>
<body>
    <ul>
    {% if messages %}
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    {% endif %}
    </ul>
    <h1>Register</h1>
    <form action="/register" method="post">
    {% csrf_token %}
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="alias" placeholder="Alias">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <input type="submit" value="Register">
    </form>
    <h1>Login</h1>
    <form action="/login" method="post">
    {% csrf_token %}
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
</body>
</html>