* {
    margin: 0px;
    padding: 0px;
}
    #wrapper {
        width: 970px;
        margin: 0px auto;
        margin-top: 50px;
        border: 2px solid black;
    }
        header {
            background-color: black;
        }
            h4 {
                display: inline-block;
                padding: 10px;
                width: 200px;
                color: white;
            }
        .shaded_row {
            background-color: silver;
        }
            form p {
                display: inline-block;
                padding: 10px;
                width: 200px;
                border-right: 1px solid black;
            }
            input[type="submit"] {
                padding: 5px;
                box-shadow: 2px 2px 5px grey;
            }
    #wrapper2 {
        width: 970px;
        margin: 0px auto;
        margin-top: 50px;
    }
        h1 {
            margin: 25px 0px;
        }
        h2 {
            font-size: 12pt;
            margin: 10px 0px 10px 15px;
        }
        a {
            color: blue;
        }
        span {
            color: blue;
        }

           
           